name: test
on:
  pull_request:
  push:
    branches:
      - main
      - renovate/*
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Install libudev-dev
        run: sudo apt install -y libudev-dev
      - uses: actions/checkout@v6
      - name: Run tests
        run: bazelisk test -c opt //...
